<nav class="flex justify-center bg-red-600 space-x-4 p-4">
  <div class="absolute top-2 left-4 start-0">
    <img src="../assets/Escudo_de_Atlético_Junior.svg.png" width="40px" alt="">
  </div>
  <h1 class="text-2xl text-white">Atletico Junior FC</h1>
</nav>

<div class="container mx-auto p-8">
    <h1 class="text-3xl text-center font-serif ">
        Que pasa con el Junior de Barranquilla?
    </h1>

    <div class="p-8 font-serif">
        <img class="border-2 p-1 w-96 rounded-xl border-neutral-400 float-right ..." src="../assets/bolillo_7513385_20230314160729.jpg">
        <p>
          El primer semestre de Junior en 2023 terminó sin cuadrangulares, sin CONMEBOL Sudamericana y
          problemas de vestuario. Su técnico Hernán "Bolillo" Gómez ya planea el equipo para la próxima campaña.
        </p>
        <br>
        <p>
          Evitó mencionar fracaso. Resaltó la dignidad. "Bolillo" Gómez se mantuvo sereno después de la
          eliminación en Neiva. Agradeció a los hinchas. Reveló que piensa en el futuro.
          "Hay que seguir trabajando para lo que viene. Junior tiene que formarse y volver a hacerse fuerte", añadió.
        </p>
        <br>
        <p>
          Estuvo a 10 minutos de jugar los cuadrangulares. La tabla fue generosa hasta donde pudo.
          Un autogol de Envigado en Pasto lo impidió. Depender de otros resultados suele ser traicionero.
          Llegó a esto por su mal inicio, el bajón de los ídolos, indisciplina y la lesión de Juan Fernando Quintero.
        </p>
        <br>
        <h1 class="text-2xl">La reacción con "Bolillo" quedó a medias</h1>
        <br>
        <p>
          El nuevo DT asumió con el equipo en cenizas. Priorizó el orden táctico,
          mejoró la defensa y consiguió 30 de puntos de 22. En su mandato, Junior entregó puntos
          definitivos en el El Metropolitano. Falló un penal contra Chicó en la última jugada que terminó 1-1, Tambien terrible
          fracaso contra el Caldas y 0-0 con el campeón Pereira. Dos empates que aún se lamentan y la derrota del Once Caldas.
        </p>
        <br>
        <div class="flex flex-nowrap w-96">
          <img class= "p-2" src="../assets/maxresdefault (1).jpg" alt="">
          <img class= "p-2" src="../assets/once-caldas-junior-resultado-goles-y-resumen-del-partido_416x234.webp" alt="">
          <img class= "p-2" src="../assets/maxresdefault.jpg" alt="">
        </div>
        <br>
        <h1 class="text-2xl">La indisciplina del "Chino Sandoval"</h1>
        <br>
        <img class="p-1 m-2 w-40 rounded-xl border-neutral-400 float-left ..." src="../assets/Fu_7wdWXsAAeUCK.jpg">
        <p class="p-9">
          Cuando parecía encaminado a la clasificación tuvo problemas de camerino.
          Rescindió el contrato del delantero Luis Sandoval y llamó la atención a otros cuatro jugadores.
          “Primero la institución, por encima de cualquier cosa la institución", dijo "Bolillo"
        </p>

        <p>
          “Luego del grave acto de indisciplina realizado por parte del jugador Luis Sandoval,
          en el que llegó en condiciones no aptas para el desarrollo de la actividad de un deportista
          de alto rendimiento, el día lunes 8 de mayo, y cumplido el debido proceso disciplinario,
          el club ha decido rescindir el contrato que lo vinculaba a la institución”, informó Junior,
        </p>
        <br>
        <h1 class="text-2xl">Que sera de Bacca y Viera?</h1>
        <br>
        <p>
          Dos ídolos perdieron el puesto en la titular. El capitán Sebastián Viera se lesionó y no
          recuperó su lugar en el arco. Pasó lo mismo con Carlos Bacca, adorado por los hinchas y
          autor de un gol en enero. Quedó relegado por su discreto desempeño. Gómez tuvo mano de
          hierro cuando el delantero se molestó por un cambio. “Yo también estoy disgustado, así lo dejamos.
          Estamos disgustados, si él está disgustado yo también"
        </p>
    </div>
</div>
<nav class="flex justify-center bg-red-600 space-x-4 p-2">
    <img src="../assets/Escudo_de_Atlético_Junior.svg.png" width="50px" alt="">
</nav>
